@model Café_Love.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del pedido</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PedidoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedidotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidotName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
